
@media (max-width: 144rem){
    html{
        font-size: 70%;
    }
}

@media (max-width: 102.4rem){
    html{
        font-size: 65%;

    }
    .dataOneInfo{
        grid-template-columns: 1fr 1fr;
    }

    .galleryImages{
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    .gallery img{
        height: 20rem;
    }

    
}

@media(max-width: 60rem){
    html{
        font-size: 50%;
    }
    .missionData{
        display: block;
    }

    .dataOneInfo{
        display: block;
    }

    .dataOneInfo img{
        height: 21rem;
    }
    .heroSection{
        height: 70vh;
    }

    .heroData{
        height: 40vh;
    }

    .heroData{
        padding: 3rem;
    }

    /* .navItems ul{
        display: none;
    } */
      .footerInfo{
        grid-template-columns: 1fr 1fr;
    }

    .galleryImages{
        grid-template-columns: 1fr 1fr 1fr;

    }

    .gallery img{
        height: 17rem;
    }
}
@media(max-width: 30rem){
    html{
        font-size: 45%;
    }

    .galleryImages{
        grid-template-columns: 1fr 1fr;

    }

    .gallery img{
        height: 22rem;
    }


}
@media (max-width: 22.5rem){
    html{
        font-size: 40%;
    }

    .galleryImages{
        grid-template-columns: 1fr 1fr;

    }

    .gallery img{
        height: 20rem;
    }
}

