
@media (max-width: 144rem){
    html{
        font-size: 85%;
    }
}

@media (max-width: 102.4rem){
    html{
        font-size: 60%;

    }
    
}

@media(min-width:76.9rem) and (max-width: 102.3rem){
    html{
        font-size: 64%;
    }
}

@media(max-width: 60rem){
    html{
        font-size: 55%;
    }
    .callBtn{
        display: none;
    }
    .middleDataInfo{
        grid-template-columns: 1fr;
        }
    .bar{
        border-radius: 2rem;
    }

     .heroSection{
        height: 60vh;
    }
    
}
@media(max-width: 30rem){
    html{
        font-size: 45%;
    }
    
     .bar{
        border-radius: 3rem;
    }

     .heroSection{
        height: 55vh;
    }
}
@media (max-width: 22.5rem){
    html{
        font-size: 35%;
    }
    .bar{
        border-radius: 2rem;
    }
    .heroSection{
        height: 40vh;
    }
}

