body{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 85%;
}

.heroSection{
    width: 100%;
    background-image: url(/Images/heroTwo.jpg);
    background-color: rgba(0, 0, 0, 0.507);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    z-index: 0;
    margin-bottom: 4rem;

}

.heroInfo{
    color: white;
    width: 80%;
    padding: 3rem;
    text-align: center;
    backdrop-filter: blur(5px);
    border: solid 2px rgba(255, 255, 255, 0.295);
    border-radius: 1rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.37);
    
}

.heroInfo .introP{
    font-size: 1.3rem;
}

.heroInfo p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    
}

.heroInfo h1{
    font-size: 4rem;
    color: orange;
    font-weight:bold;
    margin-top: -1rem;
}

.bodyImages{
    text-align: center;
    padding: 3rem;
}

.bodyImages .images{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.bodyImages h1{
    font-size: 4rem;
}

.bodyImages img{
    height: 20rem;
    border-radius: 1rem;
    margin-top: 4rem;
    flex-wrap: wrap;
}

@media (max-width: 144rem){
    html{
        font-size: 80%;
    }
     .bodyImages .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        width: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (max-width: 102.4rem){
    htm{
        font-size: 50%;

    }
   
}

@media(max-width: 60rem){
    html{
        font-size: 40%;
    }

    .heroInfo h1{
        font-size: 6rem;
    }

    .primaryNav ul{
        display: none;
    }
    
        
    
}