@media (max-width: 144rem){
    html{
        font-size: 85%;
    }

    .propertyItems .item{
        width: 13%;
    }

    .featuredProperty{
        height: auto;
    }

}

@media (max-width: 102.4rem){
    htm{
        font-size: 60%;

    }

    
}

@media(max-width: 60rem){
    html{
        font-size: 40%;
    }

    .heroDetails > p{
    margin-top: 4rem;
    }

    .heroDetails h1{
        font-size: 4rem;
    }
     .propertyItems .item{
        width: 100%;
    }


    .featuredProperty{
        height: auto;
    }
    
}
